<a href="https://colab.research.google.com/github/MR-Munggaran/Prediksi-Cuaca/blob/main/Prediksi_Cuaca.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd

In [25]:
weather = pd.read_csv('laporan_iklim_harian_fixed.csv', index_col = "Tanggal")

output = weather.apply(pd.isnull).sum()/weather.shape[0]

print(output)

Tn         0.463504
Tx         0.470803
Tavg       0.500000
RH_avg     0.500000
RR         0.664234
ss         0.609489
ff_x       0.452555
ddd_x      0.452555
ff_avg     0.452555
ddd_car    0.448905
dtype: float64

In [26]:
core_weather = weather[["Tavg", "RH_avg","RR", "ss", "ff_avg"]].copy()

In [27]:
core_weather.columns = ["Temp_rata-rata", "Kelembapan_rata-rata","Curah_hujan","Lamanya_penyinaran_matahari","Kecepatan_angin_rata-rata"]

Keterangan :


*   8888: data tidak terukur
*   9999: Tidak Ada Data (tidak dilakukan pengukuran)
*   Tn: Temperatur minimum	 (°C)
*   Tx: Temperatur maksimum (°C)
*   Tavg: Temperatur rata-rata (°C)
*   RH_avg: Kelembapan rata-rata (%)
*   RR: Curah hujan (mm)
*   ss: Lamanya penyinaran matahari (jam)
*   ff_x: Kecepatan angin maksimum (m/s)
*   ddd_x: Arah angin saat kecepatan maksimum (°)
*   ff_avg: Kecepatan angin rata-rata (m/s)
*   ddd_car: Arah angin terbanyak (°)

In [28]:
core_weather

,Temp_rata-rata,Kelembapan_rata-rata,Curah_hujan,Lamanya_penyinaran_matahari,Kecepatan_angin_rata-rata
Tanggal,,,,,
01-01-2023,NaN,NaN,NaN,NaN,NaN
02-01-2023,NaN,NaN,NaN,NaN,NaN
03-01-2023,NaN,NaN,NaN,NaN,NaN
04-01-2023,26.0,92.0,4.1,NaN,2.0
05-01-2023,25.6,90.0,18.6,NaN,3.0
...,...,...,...,...,...
27-09-2023,29.4,65.0,NaN,9.2,3.0
28-09-2023,29.7,65.0,NaN,10.0,3.0
29-09-2023,30.3,66.0,NaN,9.9,3.0
30-09-2023,29.0,76.0,NaN,10.0,2.0
01-10-2023,29.1,76.0,NaN,9.6,2.0

In [29]:
core_weather.apply(pd.isnull).sum()/core_weather.shape[0]

Temp_rata-rata                 0.500000
Kelembapan_rata-rata           0.500000
Curah_hujan                    0.664234
Lamanya_penyinaran_matahari    0.609489
Kecepatan_angin_rata-rata      0.452555
dtype: float64

In [30]:
core_weather["Curah_hujan"].value_counts()

Curah_hujan
0.0       44
8888.0    11
0.8        2
1.7        2
0.4        2
4.1        1
49.0       1
13.0       1
7.5        1
63.0       1
7.3        1
3.7        1
7.4        1
12.5       1
8.7        1
33.9       1
72.0       1
6.7        1
28.9       1
17.5       1
0.7        1
5.2        1
9.3        1
18.6       1
16.8       1
25.5       1
0.5        1
4.5        1
30.5       1
6.0        1
7.0        1
11.7       1
35.1       1
15.2       1
10.0       1
1.5        1
Name: count, dtype: int64

In [31]:
core_weather['Kecepatan_angin_rata-rata'].value_counts()

Kecepatan_angin_rata-rata
2.0    67
1.0    66
3.0    15
4.0     2
Name: count, dtype: int64

In [32]:
core_weather['Kelembapan_rata-rata'].value_counts()

Kelembapan_rata-rata
76.0    15
74.0    13
75.0    11
78.0     9
80.0     9
79.0     8
83.0     7
84.0     7
77.0     7
86.0     5
85.0     5
81.0     4
89.0     4
82.0     4
88.0     4
71.0     3
90.0     3
91.0     3
66.0     2
64.0     2
72.0     2
65.0     2
87.0     2
97.0     1
94.0     1
69.0     1
73.0     1
70.0     1
92.0     1
Name: count, dtype: int64

In [33]:
core_weather["Temp_rata-rata"].value_counts()

Temp_rata-rata
27.2    13
27.0     8
27.6     7
26.3     6
27.3     6
27.4     5
26.8     5
26.5     4
29.4     4
26.9     4
26.2     4
28.3     4
28.8     4
28.0     4
27.5     4
27.8     4
26.4     3
28.9     3
28.1     3
26.7     3
26.6     3
26.1     3
29.0     2
28.4     2
29.9     2
29.1     2
29.2     2
29.3     2
29.7     2
26.0     2
27.9     2
27.7     2
25.6     2
28.2     2
28.6     2
27.1     2
24.2     1
25.2     1
28.5     1
25.8     1
30.3     1
Name: count, dtype: int64

In [34]:
core_weather[pd.isnull(core_weather["Temp_rata-rata"])]

,Temp_rata-rata,Kelembapan_rata-rata,Curah_hujan,Lamanya_penyinaran_matahari,Kecepatan_angin_rata-rata
Tanggal,,,,,
01-01-2023,NaN,NaN,NaN,NaN,NaN
02-01-2023,NaN,NaN,NaN,NaN,NaN
03-01-2023,NaN,NaN,NaN,NaN,NaN
06-01-2023,NaN,NaN,NaN,NaN,NaN
07-01-2023,NaN,NaN,NaN,6.0,NaN
...,...,...,...,...,...
16-08-2023,NaN,NaN,NaN,NaN,NaN
17-08-2023,NaN,NaN,NaN,NaN,NaN
18-08-2023,NaN,NaN,NaN,NaN,NaN
20-08-2023,NaN,NaN,NaN,NaN,NaN
23-08-2023,NaN,NaN,NaN,NaN,NaN

In [35]:
core_weather["Temp_rata-rata"] = core_weather['Temp_rata-rata'].fillna(0)

In [36]:
core_weather[pd.isnull(core_weather["Temp_rata-rata"])]

Empty DataFrame
Columns: [Temp_rata-rata, Kelembapan_rata-rata, Curah_hujan, Lamanya_penyinaran_matahari, Kecepatan_angin_rata-rata]
Index: []

In [37]:
core_weather[pd.isnull(core_weather["Kelembapan_rata-rata"])]

,Temp_rata-rata,Kelembapan_rata-rata,Curah_hujan,Lamanya_penyinaran_matahari,Kecepatan_angin_rata-rata
Tanggal,,,,,
01-01-2023,0.0,NaN,NaN,NaN,NaN
02-01-2023,0.0,NaN,NaN,NaN,NaN
03-01-2023,0.0,NaN,NaN,NaN,NaN
06-01-2023,0.0,NaN,NaN,NaN,NaN
07-01-2023,0.0,NaN,NaN,6.0,NaN
...,...,...,...,...,...
16-08-2023,0.0,NaN,NaN,NaN,NaN
17-08-2023,0.0,NaN,NaN,NaN,NaN
18-08-2023,0.0,NaN,NaN,NaN,NaN
20-08-2023,0.0,NaN,NaN,NaN,NaN
23-08-2023,0.0,NaN,NaN,NaN,NaN

In [38]:
core_weather["Kelembapan_rata-rata"] = core_weather['Kelembapan_rata-rata'].fillna(0)

In [39]:
core_weather[pd.isnull(core_weather["Kelembapan_rata-rata"])]

Empty DataFrame
Columns: [Temp_rata-rata, Kelembapan_rata-rata, Curah_hujan, Lamanya_penyinaran_matahari, Kecepatan_angin_rata-rata]
Index: []

In [40]:
core_weather[pd.isnull(core_weather["Curah_hujan"])]

,Temp_rata-rata,Kelembapan_rata-rata,Curah_hujan,Lamanya_penyinaran_matahari,Kecepatan_angin_rata-rata
Tanggal,,,,,
01-01-2023,0.0,0.0,NaN,NaN,NaN
02-01-2023,0.0,0.0,NaN,NaN,NaN
03-01-2023,0.0,0.0,NaN,NaN,NaN
06-01-2023,0.0,0.0,NaN,NaN,NaN
07-01-2023,0.0,0.0,NaN,6.0,NaN
...,...,...,...,...,...
27-09-2023,29.4,65.0,NaN,9.2,3.0
28-09-2023,29.7,65.0,NaN,10.0,3.0
29-09-2023,30.3,66.0,NaN,9.9,3.0
30-09-2023,29.0,76.0,NaN,10.0,2.0
01-10-2023,29.1,76.0,NaN,9.6,2.0

In [41]:
core_weather["Curah_hujan"] = core_weather['Curah_hujan'].fillna(0)

In [42]:
core_weather[pd.isnull(core_weather["Curah_hujan"])]

Empty DataFrame
Columns: [Temp_rata-rata, Kelembapan_rata-rata, Curah_hujan, Lamanya_penyinaran_matahari, Kecepatan_angin_rata-rata]
Index: []

In [43]:
core_weather[pd.isnull(core_weather["Lamanya_penyinaran_matahari"])]

,Temp_rata-rata,Kelembapan_rata-rata,Curah_hujan,Lamanya_penyinaran_matahari,Kecepatan_angin_rata-rata
Tanggal,,,,,
01-01-2023,0.0,0.0,0.0,NaN,NaN
02-01-2023,0.0,0.0,0.0,NaN,NaN
03-01-2023,0.0,0.0,0.0,NaN,NaN
04-01-2023,26.0,92.0,4.1,NaN,2.0
05-01-2023,25.6,90.0,18.6,NaN,3.0
...,...,...,...,...,...
17-08-2023,0.0,0.0,0.0,NaN,NaN
18-08-2023,0.0,0.0,0.0,NaN,NaN
20-08-2023,0.0,0.0,0.0,NaN,NaN
23-08-2023,0.0,0.0,0.0,NaN,NaN
01-09-2023,26.7,74.0,0.0,NaN,2.0

In [44]:
core_weather["Lamanya_penyinaran_matahari"] = core_weather['Lamanya_penyinaran_matahari'].fillna(0)

In [45]:
core_weather[pd.isnull(core_weather["Lamanya_penyinaran_matahari"])]

Empty DataFrame
Columns: [Temp_rata-rata, Kelembapan_rata-rata, Curah_hujan, Lamanya_penyinaran_matahari, Kecepatan_angin_rata-rata]
Index: []

In [46]:
core_weather[pd.isnull(core_weather["Kecepatan_angin_rata-rata"])]

,Temp_rata-rata,Kelembapan_rata-rata,Curah_hujan,Lamanya_penyinaran_matahari,Kecepatan_angin_rata-rata
Tanggal,,,,,
01-01-2023,0.0,0.0,0.0,0.0,NaN
02-01-2023,0.0,0.0,0.0,0.0,NaN
03-01-2023,0.0,0.0,0.0,0.0,NaN
06-01-2023,0.0,0.0,0.0,0.0,NaN
07-01-2023,0.0,0.0,0.0,6.0,NaN
...,...,...,...,...,...
16-08-2023,0.0,0.0,0.0,0.0,NaN
17-08-2023,0.0,0.0,0.0,0.0,NaN
18-08-2023,0.0,0.0,0.0,0.0,NaN
20-08-2023,0.0,0.0,0.0,0.0,NaN
23-08-2023,0.0,0.0,0.0,0.0,NaN

In [47]:
core_weather["Kecepatan_angin_rata-rata"] = core_weather['Kecepatan_angin_rata-rata'].fillna(0)

In [48]:
core_weather[pd.isnull(core_weather["Kecepatan_angin_rata-rata"])]

Empty DataFrame
Columns: [Temp_rata-rata, Kelembapan_rata-rata, Curah_hujan, Lamanya_penyinaran_matahari, Kecepatan_angin_rata-rata]
Index: []

In [49]:
core_weather

,Temp_rata-rata,Kelembapan_rata-rata,Curah_hujan,Lamanya_penyinaran_matahari,Kecepatan_angin_rata-rata
Tanggal,,,,,
01-01-2023,0.0,0.0,0.0,0.0,0.0
02-01-2023,0.0,0.0,0.0,0.0,0.0
03-01-2023,0.0,0.0,0.0,0.0,0.0
04-01-2023,26.0,92.0,4.1,0.0,2.0
05-01-2023,25.6,90.0,18.6,0.0,3.0
...,...,...,...,...,...
27-09-2023,29.4,65.0,0.0,9.2,3.0
28-09-2023,29.7,65.0,0.0,10.0,3.0
29-09-2023,30.3,66.0,0.0,9.9,3.0
30-09-2023,29.0,76.0,0.0,10.0,2.0
01-10-2023,29.1,76.0,0.0,9.6,2.0

In [50]:
for x in core_weather.index:
  if core_weather.loc[x, "Temp_rata-rata"] == 0.0:
    core_weather.drop(x, inplace=True)

In [51]:
for x in core_weather.index:
  if core_weather.loc[x, "Curah_hujan"] == 0.0:
    core_weather.drop(x, inplace=True)

In [52]:
for x in core_weather.index:
  if core_weather.loc[x, "Lamanya_penyinaran_matahari"] == 0.0:
    core_weather.drop(x, inplace=True)

In [53]:
for x in core_weather.index:
  if core_weather.loc[x, "Kecepatan_angin_rata-rata"] == 0.0:
    core_weather.drop(x, inplace=True)

In [54]:
core_weather

,Temp_rata-rata,Kelembapan_rata-rata,Curah_hujan,Lamanya_penyinaran_matahari,Kecepatan_angin_rata-rata
Tanggal,,,,,
28-02-2023,26.1,89.0,1.7,0.6,3.0
02-04-2023,27.4,86.0,11.7,0.6,2.0
13-04-2023,27.6,80.0,7.0,5.9,4.0
27-04-2023,27.2,85.0,6.0,3.5,1.0
28-04-2023,26.5,94.0,30.5,2.7,1.0
10-05-2023,28.8,84.0,0.5,3.9,2.0
13-05-2023,27.6,87.0,0.4,4.5,2.0
14-05-2023,27.3,77.0,25.5,4.0,1.0
06-06-2023,26.3,91.0,12.5,2.8,2.0
07-06-2023,26.3,83.0,17.5,0.5,1.0
08-06-2023,27.9,82.0,13.0,1.6,2.0
13-06-2023,26.2,85.0,7.5,0.1,2.0
14-06-2023,25.2,89.0,63.0,1.0,2.0
16-06-2023,24.2,97.0,49.0,5.1,1.0
19-06-2023,26.3,89.0,3.7,0.8,2.0
22-06-2023,28.3,80.0,8.7,4.0,1.0
26-06-2023,26.4,85.0,8888.0,2.6,1.0
28-06-2023,27.2,80.0,33.9,5.5,2.0
25-07-2023,26.8,81.0,8888.0,3.5,1.0
29-08-2023,26.7,76.0,8888.0,1.0,1.0
18-09-2023,29.9,76.0,8888.0,6.0,2.0
20-09-2023,28.8,78.0,28.9,0.9,2.0
22-09-2023,28.9,76.0,1.5,7.5,2.0

In [55]:
core_weather.dtypes

Temp_rata-rata                 float64
Kelembapan_rata-rata           float64
Curah_hujan                    float64
Lamanya_penyinaran_matahari    float64
Kecepatan_angin_rata-rata      float64
dtype: object

In [56]:
core_weather.index

Index(['28-02-2023', '02-04-2023', '13-04-2023', '27-04-2023', '28-04-2023',
       '10-05-2023', '13-05-2023', '14-05-2023', '06-06-2023', '07-06-2023',
       '08-06-2023', '13-06-2023', '14-06-2023', '16-06-2023', '19-06-2023',
       '22-06-2023', '26-06-2023', '28-06-2023', '25-07-2023', '29-08-2023',
       '18-09-2023', '20-09-2023', '22-09-2023'],
      dtype='object', name='Tanggal')

In [57]:
core_weather.index = pd.to_datetime(core_weather.index)

C:\Users\Xilia\AppData\Local\Temp\ipykernel_18000\3501870966.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  core_weather.index = pd.to_datetime(core_weather.index)

In [58]:
core_weather.index

DatetimeIndex(['2023-02-28', '2023-04-02', '2023-04-13', '2023-04-27',
               '2023-04-28', '2023-05-10', '2023-05-13', '2023-05-14',
               '2023-06-06', '2023-06-07', '2023-06-08', '2023-06-13',
               '2023-06-14', '2023-06-16', '2023-06-19', '2023-06-22',
               '2023-06-26', '2023-06-28', '2023-07-25', '2023-08-29',
               '2023-09-18', '2023-09-20', '2023-09-22'],
              dtype='datetime64[ns]', name='Tanggal', freq=None)

In [59]:
core_weather.apply(lambda x:(x==8888).sum())

Temp_rata-rata                 0
Kelembapan_rata-rata           0
Curah_hujan                    4
Lamanya_penyinaran_matahari    0
Kecepatan_angin_rata-rata      0
dtype: int64

In [60]:
core_weather.dtypes

Temp_rata-rata                 float64
Kelembapan_rata-rata           float64
Curah_hujan                    float64
Lamanya_penyinaran_matahari    float64
Kecepatan_angin_rata-rata      float64
dtype: object

In [61]:
core_weather

,Temp_rata-rata,Kelembapan_rata-rata,Curah_hujan,Lamanya_penyinaran_matahari,Kecepatan_angin_rata-rata
Tanggal,,,,,
2023-02-28,26.1,89.0,1.7,0.6,3.0
2023-04-02,27.4,86.0,11.7,0.6,2.0
2023-04-13,27.6,80.0,7.0,5.9,4.0
2023-04-27,27.2,85.0,6.0,3.5,1.0
2023-04-28,26.5,94.0,30.5,2.7,1.0
2023-05-10,28.8,84.0,0.5,3.9,2.0
2023-05-13,27.6,87.0,0.4,4.5,2.0
2023-05-14,27.3,77.0,25.5,4.0,1.0
2023-06-06,26.3,91.0,12.5,2.8,2.0
2023-06-07,26.3,83.0,17.5,0.5,1.0
2023-06-08,27.9,82.0,13.0,1.6,2.0
2023-06-13,26.2,85.0,7.5,0.1,2.0
2023-06-14,25.2,89.0,63.0,1.0,2.0
2023-06-16,24.2,97.0,49.0,5.1,1.0
2023-06-19,26.3,89.0,3.7,0.8,2.0
2023-06-22,28.3,80.0,8.7,4.0,1.0
2023-06-26,26.4,85.0,8888.0,2.6,1.0
2023-06-28,27.2,80.0,33.9,5.5,2.0
2023-07-25,26.8,81.0,8888.0,3.5,1.0
2023-08-29,26.7,76.0,8888.0,1.0,1.0
2023-09-18,29.9,76.0,8888.0,6.0,2.0
2023-09-20,28.8,78.0,28.9,0.9,2.0
2023-09-22,28.9,76.0,1.5,7.5,2.0

In [62]:
for x in core_weather.index:
  if core_weather.loc[x, "Curah_hujan"] == 8888.0:
    core_weather.drop(x, inplace=True)

In [63]:
core_weather

,Temp_rata-rata,Kelembapan_rata-rata,Curah_hujan,Lamanya_penyinaran_matahari,Kecepatan_angin_rata-rata
Tanggal,,,,,
2023-02-28,26.1,89.0,1.7,0.6,3.0
2023-04-02,27.4,86.0,11.7,0.6,2.0
2023-04-13,27.6,80.0,7.0,5.9,4.0
2023-04-27,27.2,85.0,6.0,3.5,1.0
2023-04-28,26.5,94.0,30.5,2.7,1.0
2023-05-10,28.8,84.0,0.5,3.9,2.0
2023-05-13,27.6,87.0,0.4,4.5,2.0
2023-05-14,27.3,77.0,25.5,4.0,1.0
2023-06-06,26.3,91.0,12.5,2.8,2.0
2023-06-07,26.3,83.0,17.5,0.5,1.0
2023-06-08,27.9,82.0,13.0,1.6,2.0
2023-06-13,26.2,85.0,7.5,0.1,2.0
2023-06-14,25.2,89.0,63.0,1.0,2.0
2023-06-16,24.2,97.0,49.0,5.1,1.0
2023-06-19,26.3,89.0,3.7,0.8,2.0
2023-06-22,28.3,80.0,8.7,4.0,1.0
2023-06-28,27.2,80.0,33.9,5.5,2.0
2023-09-20,28.8,78.0,28.9,0.9,2.0
2023-09-22,28.9,76.0,1.5,7.5,2.0

In [65]:
core_weather.to_csv("Data_fixed.csv")